#Noobly JS specfic exclusions
.application/
.cache/
.data/

#Node Modules and Other Files
node_modules/

#electron
dist/
.DS_Store
*.log

#Environment variables
.env
*.env.*

#tests
.test/
.test-files/

#screenshots
screenshots/

#claude
.claude/**
