#application specific
.application/
documents/
documents-readonly/
documents-shared/
watch/
.data/
data/
.noobly-core/
.cache/
.application/

#nodent goes here...
node_modules/

#electron
dist/
.DS_Store
*.log

#env
.env
*.env.*